= form_for @notification do |f|
  - if @notification.errors.any?
    #error_explanation
      %h2= "#{pluralize(@notification.errors.count, "error")} prohibited this notification from being saved:"
      %ul
        - @notification.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :content
    = f.text_area :content
  .field
    = f.label :active
    = f.check_box :active
  .field
    = f.label :user
    = f.text_field :user
  .actions
    = f.submit 'Save'
